@model DoctorViewModel
@{
    ViewData["Title"] = "Prescription Page";
}

<div>
    Doctor's data:<br/>
    Id: @Model.Id<br />
    First Name: @Model.FirstName<br />
    Last Name: @Model.LastName<br />
    Phone number: @Model.PhoneNumber<br />
    Work Years: @Model.WorkYears<br />
    Can make prescription?: @Model.IsAbleToMakePrescriptions<br />
    
</div>
<form asp-controller="Prescription" asp-action="Index">
    <input type="text" name="ContentSearch" />
    <button type="submit" class="btn btn-success">Search</button>
</form>
<a asp-controller="Prescription" asp-action="Add" class="btn btn-info">Add Prescription</a>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                   CreatedDate
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prescription in Model.Prescriptions)
            {
                <tr>
                    <th scope="row">@prescription.Id</th>
                    <td>@prescription.Name</td>
                    <td>@prescription.CraetedDate</td>
                    <td>
                        <a asp-area="" asp-controller="Prescription" asp-action="View" asp-route-prescriptionId="@prescription.Id">View</a>
                        |
                        <a asp-area="" asp-controller="Prescription" asp-action="Delete" asp-route-prescriptionId="@prescription.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
